@import "tailwindcss";

@layer base {
  button,
  [role="button"],
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  a {
    cursor: pointer;
  }
}

button:not(:disabled),
[role="button"]:not(:disabled),
a,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer !important;
}
